<head>
    <title>Pokemon</title>
</head>
<body>
    <h1>Welcome to the world of Pokemon!</h1>
<div class="topnav">
    <a class="active" onclick="document.location.href='/index.handlebars'">Index</a>
    <a onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
    <a onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
    <a onclick="document.location.href='/regions.handlebars'">Region</a>
    <a onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    <a onclick="document.location.href='/pokedex_pokemon.handlebars'">Pokedex Pokemon</a>
</div>
<br>
<h4>
    Search your favorite pokemon!
</h4>
<br>
<div>
    
    <form id='getPokemon' method="post">
        <label for="name">Pokemon Name:</label><br>
        <input type="text" name="name" placeholder="Input a name of a pokemon">
        <input type="submit" value="Submit">
    </form> 
</div>
<br><br>
     <div>
        <table class="table">
            <caption>You selected {{pokemon.name}}:</caption>
            <thead> 
                <th>Pokemon ID</th>
                <th>Name</th>
                <th>Type</th> 
                <th>Region ID</th>
                <th>Pre-Evolutions</th>
                <th>Pokedex ID</th>
                <th>Recorded By</th>
            </thead> 
            <tbody>
                <tr>
                    <td>{{pokemon.pid}}</td>
                    <td>{{pokemon.name}}</td> 
                    <td>{{pokemon.type}}</td> 
                    <td>{{pokemon.rid}}</td>
                    <td>{{pokemon.preevo}}</td> 
                    <td>{{pokemon.did}}</td>
                    <td>{{pokemon.Trainer}}</td> 
                </tr> 
            </tbody> 
        </table> 
    </div>
    </body>