<head>
    <script src="/js/delete.js"></script>
    <title>Pokedex</title>
</head>
<body>
    <h1>
        Pokemon
    </h1>
    <div class="topnav">
        <a onclick="document.location.href='/index.handlebars'">Index</a>
        <a onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
        <a class="active" onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
        <a onclick="document.location.href='/regions.handlebars'">Region</a>
        <a onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    </div>

    <br>
    <h4>
        Submit information about a new pokemon that you have encountered
    </h4>
    <br>
    <form id='addPokemon' method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br><br>
        <label for="region_id">Region ID:</label><br>
        <input type="text" id="region_id" name="region_id"><br><br>
        <label for="preevolution">Pre-Evolution:</label><br>
        <input type="text" id="preevolution" name="preevolution"><br><br>
        <input type="submit" value="Submit">
    </form> 
    <br><br>
     <div>
        <table class="table">
            <caption>Current Pokemons:</caption>
            <thead> 
                <th>Pokemon ID</th>
                <th>Name</th>
                <th>Type</th> 
                <th>Region ID</th>
                <th>Pre-Evolutions</th>
            </thead> 
            <tbody>
                {{#each pokemon}} 
                <tr> 
                    <td>{{pid}}</td>
                    <td>{{name}}</td> 
                    <td>{{type}}</td> 
                    <td>{{rid}}</td>
                    <td>{{preevo}}</td>  
                    <td><button id="delete" onclick="deletePokemon({{pid}})">Delete</button></td>
                    <td><a href="/pokemon.handlebars/{{pid}}">Update</a></td>
                </tr> 
                {{/each}} 
            </tbody> 
        </table> 
    </div>
</body>
