<head>
    <script src="/js/delete.js"></script>
    <title>Pokedex</title>
</head>
<body>
    <h1>
        Trainer
    </h1>
    <div class="topnav">
        <a onclick="document.location.href='/index.handlebars'">Index</a>
        <a onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
        <a onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
        <a onclick="document.location.href='/regions.handlebars'">Region</a>
        <a class="active" onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    </div>

    <br>
    <h4>
        Add a new trainer to the adventure!
    </h4>
    <br>
    <form id="addTrainer" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="region_id">Region ID:</label><br>
        <input type="text" id="region_id" name="region_id"><br><br>
        <input type="submit" value="Submit">
    </form> 

    <br><br>

    <div>
        <table class="table">
            <caption>Current Trainers:</caption>
            <thead> 
                <th>Trainer ID</th>
                <th>Name</th> 
                <th>Region ID</th>
            </thead> 
            <tbody>
                {{#each trainer}} 
                <tr> 
                    <td>{{tid}}</td> 
                    <td>{{name}}</td> 
                    <td>{{rid}}</td> 
                    <td><button id="delete" onclick="deleteTrainer({{tid}})">Delete</button></td>
                    <td><a href="/trainer.handlebars/{{tid}}">Update</a></td>
                </tr> 
                {{/each}} 
            </tbody> 
        </table> 
    </div>
</body>
